<link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'styleAll.css' | asset_url }}">

    <div class="headerMain headerMain_icons">
        <div class="container_icons">
            <p class="flexIcons">
                <a class="icons" href="./calculateur_gaines_electriques/index.html" title="Calculateur pour des gaines éléctriques">
                    {{ 'gaine.png' | asset_url | img_tag: 'Calculateur pour des gaines éléctriques' }}
                </a>
            </p>
            <p class="flexIcons">
                <a class="icons" href="./calculateur_pompe_chaleur_pisine/index.html" title="Calculateur de la dimension pisine pour la pompe à chaleur">
                    {{ 'piscine.png' | asset_url | img_tag: 'Calculateur de la dimension pisine pour la pompe à chaleur' }}
                </a>
            </p>
            <p class="flexIcons">
                <a class="icons" href="./raccords-de-plomberie/index.html" title="Tableau de correspondance des raccords de plomberie">
                    {{'tube.png' | asset_url | img_tag: 'Tableau de correspondance des raccords de plomberie' }}
                </a>
            </p>
        </div>
    </div>